body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .toggle-button {
    background-color: #3498db;
    color: rgb(27, 42, 112);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }